body{
  background-color: rgb(201, 41, 41);
  font-family: "Tilt Neon", sans-serif;
  color:white
}

.header{
  text-align:center;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
}

.button{
  border-radius:4px;
}

.grid-container{
  display:flex;
  flex-wrap:wrap;
  width: 600px;
  height:600px;
  margin:auto;
  border: 1px solid black;
  overflow: hidden;
}

.grid-square {
  flex: 0 0 6.25%;
  height: 6.25%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
